<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Open weather map API</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<div id="demo">
			<div id="main" v-if="cityWeatherDatas">
				<input id="search-bar" type="text" v-model="cityName" @keypress="fetchWeather" placeholder="Recherchez une ville"/>
				<p class="">{{cityName}}, {{cityWeatherDatas.sys.country}}</p>
				<img v-bind:src="`http://openweathermap.org/img/w/${cityWeatherDatas.weather[0].icon}.png`"/>
				<p>{{currentDate()}}</p>
				
	
				<p>{{cityWeatherDatas.weather[0].description}}</p>
				<div class="row">
					<i class="uil uil-temperature"></i>
					<p class="">{{cityWeatherDatas.main.temp}} °C</p>
				</div>

	
				<p class=""><span style="font-size:1vw">Ressenti</span> {{cityWeatherDatas.main.feels_like}}°C</p>
	
				<div class="row">
					<i class="uil uil-wind"></i>
					<p class="">{{cityWeatherDatas.wind.speed}} km/h</p>
				</div>
	
				<div class="row">
					<i class="uil uil-tear"></i>
					<p class="">{{cityWeatherDatas.main.humidity}}%</p>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script>
			const apiKey="4d344860a813f0165f921f589cb7285d";
			const baseApiURL ="https://api.openweathermap.org/data/2.5/";

			Vue.createApp({
				data() {
					return {
						cityWeatherDatas: null,
						cityName:'paris'
					};
				},

				created : function () {
					this.fetchWeatherInfos();
				},
				//watch: {
					//cityName: "fetchWeatherInfos",
				//},

				methods: {
					fetchWeatherInfos: function () {
						const self = this;
						axios
							.get(`${baseApiURL}weather?q=${this.cityName}&APPID=${apiKey}&units=metric&lang=fr`)
							.then((response) => {
								console.log(response.data);
								self.cityWeatherDatas = response.data;
							})
							.catch(function (error) {
								console.info(error);
							});
					},
					//fetchWeatherInfos: async function () {
					 	//try {
					   	//const response = await axios.get(`${baseApiURL}weather?q=${this.cityName}&APPID=${apiKey}&units=metric&lang=fr`)
					 	  //this.cityWeatherDatas = response.data
					        //console.log(self.cityWeatherDatas[0].html_url);
					  // } catch(error) {
					     //console.log(error);
					   //}
					//},
					currentDate() {
						const current = new Date();
						const date = `${current.getDate()}/${current.getMonth()+1}/${current.getFullYear()}`;
						return date;
					},
					 fetchWeather (e) {
						if (e.key == "Enter") {
							this.fetchWeatherInfos()
						}
					},
				},
			}).mount("#demo");
		</script>
	</body>
</html>
