<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>Ma meteo</title>
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="index.css">
</head>

<body>
	<div id="demo">
		<div class="container">
			<input id="search-bar" type="text" v-model="cityName" placeholder="Quelle ville ?"/>
			<button @click="fetchWeatherInfos">Afficher</button>
			<div class="main">
				<div class="left" v-if="cityWeatherForecast">
					<p class="today">Aujourd'hui</p>
					<p class="date">{{currentDate()}}</p>
					<p class="cityName">{{cityWeatherForecast.city.name}}, {{cityWeatherForecast.city.country}}</p>
					<img class="img" v-bind:src="`http://openweathermap.org/img/w/${cityWeatherForecast.list[0].weather[0].icon}.png`" />
					<p class="temp">{{cityWeatherForecast.list[0].main.temp}} °C</p>
					<p class="description">{{cityWeatherForecast.list[0].weather[0].description}}</p>
				</div>
				<div class="right">
					<div class="header" v-if="cityWeatherForecast">
						<div class="header_info">
							<span>Ressenti</span>
							<div class="infos">
								<i class="uil uil-temperature-half"></i>
								<p>{{cityWeatherForecast.list[0].main.feels_like}} °C</p>
							</div>
						</div>
						<div class="header_info">
							<span>Vent</span>
							<div class="infos">
								<i class="uil uil-wind"></i>
								<p>{{cityWeatherForecast.list[0].wind.speed}} km/h</p>
							</div>
						</div>
						<div class="header_info">
							<span>Humidité</span>
							<div class="infos">
								<i class="uil uil-tear"></i>
								<p>{{cityWeatherForecast.list[0].main.humidity}}%</p>
							</div>
						</div>
					</div>
					<div v-else>loader</div>
					<div class="wrapper" v-if="cityWeatherDaily">
						<div v-for="(day, index) in cityWeatherDaily.daily">
							<div class="day" v-if="index > 0">
								<img v-bind:src="`http://openweathermap.org/img/w/${day.weather[0].icon}.png`" />
								<div v-if="day.dt">{{ formatDayName(day.dt) }}</div>
								<div class="row">
									<i class="uil uil-temperature-plus"></i>
									<p>{{day.temp.max}} °C</p>
								</div>
								<div class="row">
									<i class="uil uil-temperature-minus"></i>
									<p>{{day.temp.min}} °C</p>
								</div>
							</div>
						</div>
					</div>
					<div v-else>loader</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3"></script>
	<script>
		const apiKey = "4d344860a813f0165f921f589cb7285d"
		const getLonLatTown = "http://api.openweathermap.org/geo/1.0/direct?"
		const foreCastUrl = "http://api.openweathermap.org/data/2.5/forecast?"
		const dailyWeather = "https://api.openweathermap.org/data/2.5/onecall?"

		Vue.createApp({
			data() {
				return {
					cityWeatherForecast: null,
					cityWeatherDaily: null,
					cityName: 'Paris',
					country: null,
					latitude: null,
					longitude: null,
				};
			},
			created: function () {
				this.fetchWeatherInfos()
			},
			methods: {
				fetchWeatherInfos() {
					axios.get(`${getLonLatTown}q=${this.cityName}&APPID=${apiKey}`)
						.then((response) => {
							this.latitude = response.data[0].lat
							this.longitude = response.data[0].lon
							this.cityName = response.data[0].name
							this.country = response.data[0].country
						})
						.then((res) => {
							axios.get(`${foreCastUrl}q=${this.cityName}&cnt=8&APPID=${apiKey}&units=metric&lang=fr`)
								.then((response) => {
									this.cityWeatherForecast = response.data;
								})
						})
						.then((res) => {
							axios.get(`${dailyWeather}lat=${this.latitude}&lon=${this.longitude}&exclude=current,hourly,minutely,alerts&APPID=${apiKey}&units=metric&lang=fr`)
								.then((response) => {
									this.cityWeatherDaily = response.data
								})
						})
						.catch(function (error) {
							console.error(error)
						})
				},
				currentDate() {
					const current = new Date()
					var dd = current.getDate()
					var mm = current.getMonth() + 1
					if (dd < 10) dd = '0' + dd
					if (mm < 10) mm = '0' + mm
					const date = `${dd}/${mm}/${current.getFullYear()}`
					return date;
				},
				formatDayName(value) {
					return new Date(value * 1000).toLocaleDateString("fr", { weekday: "long" })
				},
				formatDate(value) {
					return new Date(value * 1000).toLocaleDateString("fr")
				}
			},
		}).mount("#demo")
	</script>
</body>
</html>